#barHide {
  transition: all 1s;
}
.fa-adjust {
  transition: all 0.6s;
}

.fa-adjust:hover {
  transform: rotateY(180deg);
}
/* Header */
header nav ul li a,
#welcome ul li,
#portfolio ul li.active,
footer > ul #contact a {
  transition: all 0.6s;
}

header.dark-mode > i.fa-times:hover,
header.dark-mode > i.fa-bars:hover {
  color: var(--color-dark-orange);
  transition: all 0.8s;
}
/* Nav Bar*/
header.dark-mode nav ul li a:hover {
  color: var(--color-dark-orange-soft);
  text-decoration: none;
}
nav ul li a::before,
nav ul li a::after {
  content: " - ";
  opacity: 0;
  transition: all 1s;
}
nav ul li a:hover::before,
nav ul li a:hover::after {
  opacity: 1;
}

nav.discover {
  animation: discoverNav 0.4s linear;
}
/* Welcome */
#welcome ul li:hover,
#welcome ul li:active {
  transform: translateY(-4.4rem);
}

#welcome i {
  animation: upAndDown 2s linear infinite alternate;
}
/* Portfolio */
#portfolio ul li figure img,
#portfolio ul li figure figcaption,
#portfolio ul li figure figcaption p,
#portfolio ul li figure figcaption a {
  transition: all 0.6s;
}
#portfolio ul li figure:hover img,
main.dark-mode #portfolio ul li figure:hover img {
  filter: brightness(0.2);
}
#portfolio ul li figure:hover figcaption {
  opacity: 1;
}

#portfolio ul li figure:hover figcaption a:hover {
  background-color: var(--color-dark-orange);
  border: 2px solid var(--color-black0);
}
#portfolio ul li figure:hover figcaption a:hover i {
  color: var(--color-black0);
}
#portfolio ul.carousel li i{
  transition: .2s;
  transform: scale(1);

}
 #portfolio ul.carousel li i:focus{
  transform: scale(0.8);
}


/* About */
#about p::after {
  content: "_";
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
}


/* Footer */
footer > ul #contact a:hover,
footer > ul #contact a:active {
  background-color: var(--color-send);
  color: var(--color-black0);
  border: var(--color-send) 0.2rem solid;
  box-shadow: 0 0 0.05rem var(--color-send), 0 0 0.25rem var(--color-send),
    0 0 0.5rem var(--color-send), 0 0 1rem var(--color-send);
  cursor: pointer;
}
@keyframes blink {
  0% {opacity:1;}
  49% {opacity:1;}
  50% {opacity:0;}
  100% {opacity:0;}
}

@keyframes upAndDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1.8rem);
  }
  60% {
    transform: translateY(-1.2rem);
  }
}

@keyframes discoverNav {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
