* {
  transition: all 0.8s;
}

header.dark-mode > i.fa-times:hover,
header.dark-mode > i.fa-bars:hover {
  color: var(--color-orange);
}

header nav ul li a:hover {
  transform: scale(1.12);
}

header nav ul.dark-mode li a:hover {
  color: var(--color-orange-soft);
  text-decoration: none;
}
header nav ul.dark-mode li a::before,
header nav ul.dark-mode li a::after {
  content: " - ";
  opacity: 0;
  transition: all 1s;
}
header nav ul.dark-mode li a:hover::before,
header nav ul.dark-mode li a:hover::after {
  opacity: 1;
}

nav.discover {
  animation: discoverNav 0.6s linear;
}

@keyframes discoverNav {
  0% {
    transform: translateX(200rem);
  }
  100% {
    transform: translateX(0);
  }
}

#welcome ul li:hover,
#welcome ul li:active {
  transform: translateY(-4.4rem);
}

#welcome i {
  animation: upAndDown 2s linear infinite alternate;
}
#portfolio ul li:hover {
  transform: scale(1.04);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#portfolio.dark-mode ul li:hover figure img {
  filter: grayscale(0);
}

footer > ul #contact a:hover,
footer > ul #contact a:active {
  background-color: var(--color-send);
  color: var(--color-black0);
  border: var(--color-send) 0.2rem solid;
  box-shadow: 0 0 0.05rem var(--color-send), 0 0 0.25rem var(--color-send),
    0 0 0.5rem var(--color-send), 0 0 1rem var(--color-send);
  cursor: pointer;
}

@keyframes upAndDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1.8rem);
  }
  60% {
    transform: translateY(-1.2rem);
  }
}
