.dark-mode,
#skills.dark-mode,
#skills section.dark-mode,
#tools.dark-mode,
#tools section.dark-mode,
#xp.dark-mode,
#xp section.dark-mode,
#diploma.dark-mode,
#diploma dl.dark-mode,
#portfolio.dark-mode,
#portfolio ul li.dark-mode,
#about.dark-mode,
#about p.dark-mode,
a.dark-mode{
  color: var(--color-beige);
  background-color: var(--color-black);
  transition: all 1s;
}



#skills.dark-mode {
  color: var(--color-beige);
  background-color: var(--color-black);
  transition: all 1s;
}

header h1 a.dark-mode,
#welcome h2.dark-mode {
  border: solid 0.4rem var(--color-beige);
}
header > i.dark-mode {
  color: #fafafa;
}
header nav ul li ul.dark-mode {
  border-top: 0.2rem solid var(--color-beige);
  border-bottom: 0.2rem solid var(--color-beige);
}

#welcome.dark-mode {
  color: var(--color-beige);
  background-color: var(--color-black);
}
footer section.dark-mode{
  background-color: #222;

}
