html.dark-mode {
  scrollbar-color: var(--color-dark-orange) var(--color-dark-ft0);
  background-color: var(--color-dark-bg);
  color: var(--color-dark-ft0);
}
header.dark-mode,
header.dark-mode h1,
header.dark-mode a,
header.dark-mode nav,
main.dark-mode,
main.dark-mode section#welcome,
main.dark-mode section#skills section,
main.dark-mode section#tools section,
main.dark-mode section#diploma dl,
main.dark-mode section#diploma dl a,
main.dark-mode section#xp section,
main.dark-mode section#about p {
  background-color: var(--color-dark-bg0);
  color: var(--color-dark-ft0);
}

header.dark-mode h1 a {
  border: solid 0.2rem var(--color-dark-ft0);
}
header.dark-mode {
  background-color: var(--color-dark-bg);
}
header.dark-mode nav ul li ul {
  border-top: 0.2rem solid var(--color-dark-ft0);
  border-bottom: 0.2rem solid var(--color-dark-ft0);
}

main.dark-mode .progress-container {
  background-color: var(--color-dark-ft);
}
main.dark-mode .progress-bar {
  background-color: var(--color-dark-orange);
}

main.dark-mode #welcome h2 {
  border: solid 0.8rem var(--color-dark-ft0);
}
main.dark-mode .fa-chevron-down {
  color: var(--color-dark-ft0);
}

main.dark-mode section h3 {
  color: var(--color-dark-orange);
}

main.dark-mode #skills {
  background-color: var(--color-dark-aqua);
}

main.dark-mode #diploma {
  background-color: var(--color-dark-purple);
}

main.dark-mode #tools {
  background-color: var(--color-dark-yellow);
}

main.dark-mode #xp {
  background-color: var(--color-dark-blue);
}
main.dark-mode #portfolio {
  background-color: var(--color-dark-bg);
}
main.dark-mode #portfolio h2 {
  color: var(--color-dark-orange-soft);
}
main.dark-mode #portfolio i {
  background-color: var(--color-dark-bg0);
  color: var(--color-dark-orange-soft);
}

main.dark-mode #portfolio ul li {
  background-color: var(--color-dark-bg0);
}

main.dark-mode #portfolio ul li figure img {
  filter: grayscale(0.8);
}
main.dark-mode #portfolio ul li figure figcaption h4 {
  color: var(--color-dark-orange-soft);
}
main.dark-mode #portfolio ul li figure figcaption i {
  color: var(--color-dark-ft0);
}
main.dark-mode #portfolio {
  border-top: 0.2rem solid var(--color-dark-orange);
  border-bottom: 0.2rem solid var(--color-dark-orange);
}

main.dark-mode section#about {
  background-color: var(--color-dark-blue);
}

footer.dark-mode h2,
footer.dark-mode h3 {
  color: var(--color-dark-orange-soft);
}
