:root {
  --color-black: #000000;
  --color-blue: #579bd5;
  --color-brightBlack: #797979;
  --color-brightBlue: #9cdcfe;
  --color-brightCyan: #2bc4e2;
  --color-brightGreen: #1ad69c;
  --color-brightPurple: #975eab;
  --color-brightRed: #eb2a88;
  --color-brightWhite: #eaeaea;
  --color-brightYellow: #e9ad95;
  --color-cyan: #00b6d6;
  --color-green: #4ec9b0;
  --color-purple: #714896;
  --color-red: #e92888;
  --color-white: #eaeaea;
  --color-yellow: #ce9178;

  /* Ft */
  --color-h1: #1ad69c;
  --color-h2: #9cdcfe;
  --color-h3: #eb2a88;
  --color-h4: #fafafa;
  --color-p: #1ad69c;
  --color-nav-li: #1ad69c;
  --color-header-p: #1ad69c;
  --color-welcome-i: #1ad69c;
  --color-dt: #eb2a88;
  --color-polaroid-i: #222;
  --color-dots: #1ad69c;
  --color-footer-p: #eb2a88;

  /* Background */
  --color-background-header: #121212;
  --color-background: #1f1f1f;
  --color-background-nav: #000;
  --color-background-welcome: #1f1f1f;
  --color-background-xp: #1f1f1f;
  --color-background-tools: #1f1f1f;
  --color-background-diploma: #1f1f1f;
  --color-background-portfolio: #1f1f1f;
  --color-background-about-p: #000;
  --color-background-footer: #111;
  --color-terminal-background: #111;

  --color-terminal-window: #eaeaea;
  --color-polaroid: #fafafa;
  --color-polaroid-hover: #fafafa;
  /* Ligne */
  --color-line: #eb2a88;

  /* Icons */
  --color-chevron: #e9ad95;
  --color-dots: #1ad69c;
}

.progress-container {
  height: 0.4rem;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
}
#myBar {
  height: 0.4rem;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: var(--color-brightGreen);
}

header,
nav,
#welcome,
main > section,
footer {
  max-width: 100%;
}
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 6rem;
  padding: 0 1rem 0 2rem;
  background-color: var(--color-background-header);
}
header h1 a {
  color: var(--color-h1);
}
header h1 a::before {
  content: "< ";
}

header h1 a::after {
  content: " >";
}
header p {
  font-size: 1.6rem;
  padding-right: 1.2rem;
  color: var(--color-header-p);
}
header p:nth-child(3) {
  display: none;
}
header nav {
  position: fixed;
  left: 0;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  z-index: 2;
}

header nav ul {
  display: flex;
  bottom: 0;
  min-width: 60rem;
  background-color: var(--color-background-nav);
}

header nav ul li {
  flex-basis: 4rem;
  flex-shrink: 0;
  flex-grow: 1;
  border: 0.1rem solid var(--color-nav-li);
}

header nav ul li a {
  display: block;
  width: 100%;
  padding: 2rem 0;
  font-size: 1.6rem;
  font-weight: bolder;
  text-align: center;
  color: var(--color-nav-li);
}
header nav ul li:nth-child(4) a::after {
  content: "xp";
}
/* MAIN */
main {
  background-color: var(--color-background);
}
/* SECTIONS */
main > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
  border-bottom: 0.2rem solid var(--color-line);
}
main > section > h2,
footer h2 {
  padding: 4rem 0;
  text-align: center;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--color-h2);
}
main > section h3::before {
  content: "/";
}

main > section p {
  padding: 0.4rem;
  font-size: 2rem;
  color: var(--color-p);
}
section dt {
  padding: 1rem 0 0;
  font-size: 1.6rem;
  color: var(--color-dt);
}
main > section > ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main > section > ul > li {
  padding: 2rem 2rem 0;
}
main > section > ul > li:first-child {
  padding: 2rem 0 2rem 2rem;
}
main section h3,
footer h3 {
  padding: 2rem 0 0.4rem 0;
  font-size: 1.8rem;
  color: var(--color-h3);
}
main > section > ul > li ul > li,
main > section dl dd {
  font-size: 1.6rem;
  padding: 0.4rem 0 0;
  color: var(--color-p);
}
/* WELCOME */
#welcome h2 {
  padding: 0;
  font-size: 3.2rem;
  color: var(--color-h2);
}
#welcome h2::before {
  content: "";
}
#welcome p {
  color: var(--color-red);
}
#welcome > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 10rem;
}
#welcome > ul > li {
  padding: 1.2rem;
}
#welcome ul li a {
  font-size: 2.4rem;
  color: var(--color-welcome-i);
}
#welcome .fa-chevron-down {
  position: absolute;
  bottom: 8rem;
  left: calc(50vw - 1.5rem);
  font-size: 4rem;
  color: var(--color-brightRed);
}

/* DIPLOME */
#diploma {
  display: block;
  height: 100%;
  padding: 0 2rem 4rem;
}
#diploma h2 {
  padding: 4rem 2rem 2rem;
  text-align: center;
}
#diploma dl dd a {
  color: var(--color-p);
}
/* XP */
#xp {
  display: block;
  height: 100%;
  padding: 0 2rem 4rem;
}
#xp h2 {
  padding: 4rem 2rem 1rem;
  text-align: center;
}
#xp dl {
  padding: 0 0 2rem;
}

#xp dl ul li::before {
  content: "- ";
}
/* PORTFOLIO */
#portfolio {
  justify-content: space-between;
}
#portfolio h2 {
  padding: 4rem 0;
}
#portfolio > ul > li {
  display: none;
}
#portfolio > ul > li.active {
  display: block;
  margin: 0 auto;
  padding: 0.8rem 0.8rem 2rem;
  border-radius: 0.4rem;
  background-color: var(--color-polaroid);
  box-shadow: 0 2rem 4rem #000, 0 1.2rem 1.2rem #000;
}

#portfolio ul li i {
  font-size: 2.4rem;
}
#portfolio ul li figure figcaption h4 {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.2rem;
}

#portfolio ul li figure img {
  width: 20rem;
  height: 20rem;
  border-radius: 0.4rem;
}

#portfolio ul li figure figcaption ul {
  display: flex;
  justify-content: space-around;
}

#portfolio ul li figure figcaption ul li i {
  font-size: 2rem;
  color: var(--color-polaroid-i);
}
#portfolio ul.icons-portfolio {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#portfolio ul.icons-portfolio li {
  display: block;
  padding: 0;
}
#portfolio ul.icons-portfolio li {
  font-size: 4rem;
  color: var(--color-line);
}
#portfolio ul.icons-portfolio i.fa-chevron-left,
#portfolio ul.icons-portfolio i.fa-chevron-right {
  position: relative;
  bottom: 40vh;
  padding: 1.2rem;
  font-size: 4rem;
  cursor: pointer;
}
#portfolio ul.dots {
  position: relative;
  bottom: 2rem;
}
#portfolio ul.dots li {
  display: inline-block;
  padding: 0.4rem;
  font-size: 2rem;
  color: var(--color-dots);
}
/* A propos */
#about {
  padding-bottom: 4rem;
  height: 100%;
}
#about h2::before {
  content: "> ";
}
#about div.top-bar {
  height: 2rem;
  width: 100%;
  padding: 0.4rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: var(--color-terminal-window);
}

#about p {
  padding: 2rem 2rem 4rem;
  background-color: var(--color-terminal-background);
  border: 0.2rem solid var(--color-terminal-window);
  box-shadow: 0 2rem 4rem #000, 0 1.2rem 1.2rem #000;
}
#about p::before {
  color: var(--color-brightRed);
  font-weight: bolder;
  content: ">";
}
/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 2rem;
  background-color: var(--color-background-footer);
}
footer h2 {
  font-size: 2.8rem;
}
footer h3 {
  font-size: 2.2rem;
}
footer ul {
  padding-bottom: 2rem;
}
footer #contact a {
  display: inline-block;
  max-width: 100%;
  font-size: 1.6rem;
  padding: 0.8rem;
  margin: 1rem 0;
  border-radius: 0.4rem;
  color: var(--color-p);
  border: 0.4rem solid var(--color-footer-p);
}
footer section ul li {
  padding: 0.8rem 0;
}
footer section ul li a {
  font-size: 1.8rem;
  color: var(--color-p);
}
footer > p {
  padding: 2rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bolder;
  color: var(--color-footer-p);
}
