:root {
  --color-black: #222;
  --color-white: #fafafa;
  --color-grey: grey;
  --color-valid: #2ecc71;
  --color-error: red;
}
/* Header */
header {
  background-color: var(--color-black);
  color: var(--color-white);
}
header h1 {
  padding: 2rem 2rem 1rem;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;
}
header nav {
  background-color: var(--color-black);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.8rem;
}
header nav ul {
  display: flex;
  outline: none;
  overflow-y: hidden;
  padding: 0.8rem;
  scrollbar-color: red;
}
header nav ul li {
  display: flex;
  padding: 0 1rem;
  text-align: center;
}

header a {
  margin: auto;
  text-align: center;
  color: var(--color-white);
}
/* Main */

section {
  padding: 2rem;
  border-bottom: solid 0.1px var(--color-black);
}
section h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
section h3 {
  padding: 1rem 0;
}
section ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}
section ul li {
  padding: 0 1rem 1rem;
}
section ul li i {
  font-size: 2.4rem;
  padding: 0.4rem;
}
section dl {
  padding: 0rem;
}
section dl dt {
  padding: 0.8rem 0 0.2rem;
  font-weight: 600;
}
section h3 {
  padding: 0 0 0.8rem;
}
/* XP */
#xp > section {
  padding-top: 0;
  border-bottom: none;
}
#xp ul li {
  padding: 0.4rem;
  list-style: "-";
}
/* PORTFOLIO */
#portfolio ul li {
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12),
    0 0.1rem 0.2rem rgba(0, 0, 0, 0.24);
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
}
#portfolio ul li figcaption p {
  padding: 1rem;
  font-size: 2rem;
}
#portfolio ul li figcaption i {
  font-size: 3.2rem;
  padding: 1rem;
}
#portfolio ul li img,
#portfolio ul li {
  border-radius: 1.2%;
}
/* ABOUT */
#about p {
  line-height: 1.6rem;
  text-align: center;
}
img {
  max-width: 100%;
}
/* FOOTER */
footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 1.2rem 1.2rem 0.4rem;
}
footer ul {
  display: block;
}
footer ul li a {
  color: var(--color-white);
}
footer #contact{
  height: 100vh;
}
footer form div {
  padding: 0.8rem;
}
footer form input {
  max-width: 60vw;
  padding: 0.4rem;
  color: #fafafa;
  background-color: #222;
  border: none;
  border-bottom: 1px solid var(--color-grey);
  font-size: 1.2rem;
}
footer form textarea {
  max-width: 80vw;
  height: 40vh;
  padding: 0.4rem;
  font-size: 1.2rem;
  color: var(--color-black);
}
footer section div:last-child input {
  padding: 0.8rem;
  background-color: greenyellow;
  font-weight: bolder;
  color: var(--color-black);
  border: greenyellow 1px solid;
  border-radius: 4%;
  box-shadow: 0 0 1rem greenyellow, 0 0 2rem greenyellow;
}
#copyright {
  text-align: center;
  padding: 1rem 0 3.8rem;
  font-size: 0.6rem;
}
#copyright p sup {
  font-size: 0.4rem;
}
/* Laptop 
@media screen and (min-width: 700px) {
  
}
*/
