:root {
  --color-black: #222;
  --color-white: #fafafa;
  --color-valid: #2ecc71;
  --color-error: red;
}
/* Header */
header {
  background-color: var(--color-black);
  color: var(--color-white);
}
header h1 {
  padding: 2rem 2rem 1rem;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;
}
header nav ul {
  display: flex;
  outline: none;
  overflow-y: hidden;
  padding: 0.6rem;
  scrollbar-color: red;
}
header nav ul li {
  display: flex;
  padding: 0 1rem;
  text-align: center;
}

header a {
  margin: auto;
  text-align: center;
  color: var(--color-white);
}
/* Main */
.table{
  display: none;
}
section {
  padding: 2rem;
  border-bottom: solid 0.1px var(--color-black);
}
section h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
section h3 {
  padding: 1rem 0;
}
section ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}
section ul li {
  padding: 0 1rem 1rem;
}
section ul li i {
  font-size: 2rem;
}

section dl {
  padding: 0rem;
}
section dl dt {
  padding: 0.8rem 0 0.2rem;
  font-weight: 600;
}

section h3 {
  padding: 0 0 0.8rem;
}

.xp section {
  padding-top: 0;
  border-bottom: none;
}
.xp ul li {
  padding: 0.4rem;
  list-style: "-";
}
.portfolio ul li {
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12),
    0 0.1rem 0.2rem rgba(0, 0, 0, 0.24);
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
}
.portfolio ul li figcaption p {
  padding: 1rem;
  font-size: 2rem;
}
.portfolio ul li figcaption i {
  font-size: 3.2rem;
  padding: 1rem;
}
.portfolio ul li img,
.portfolio ul li {
  border-radius: 1.2%;
}
.about p {
  line-height: 1.6rem;
  text-align: center;
}
img {
  max-width: 100%;
}
footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 1.2rem 1.2rem 0.4rem;
}
footer ul {
  display: flex;
  justify-content: space-around;
}
footer ul li a {
  color: var(--color-white);
}
footer p {
  padding: 1rem 0;
  font-size: 0.4rem;
}
footer p sup {
  font-size: 0.32rem;
}
/* Laptop */
@media screen and (min-width: 700px) {
  header h1{
  }
  header nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:var(--color-black);
    z-index: 0;
  }
  header nav ul {
    justify-content: space-around;
  }
  .no-table{
    display: none;
  }
  .table{
    display: block;
  }
  .table table{
    max-width: 80vw;
  }
  td{
    background-color: bisque;
    padding: 1.6rem;
  }
}

/* .portfolio ul li:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
 */
