@use '../../assets/sass/base';

.NavBar {
    margin: 1rem 1rem 1rem 0;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        li {
            width: 100%;

            :hover {
                background-color: base.$gb-bg-0;
            }

            button {
                width: 100%;
                border: 0;
                padding: 2rem 4rem;
                font-size: 2.4rem;
                font-weight: 800;
                margin: .1rem 0;
                background-color: base.$gb-bg-1;
                cursor: pointer;
            }

            button.focus {
                background-color: base.$gb-bg-0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .NavBar {
        margin: 1rem 0 0 0;
        ul {
            flex-direction: row;

            li {
                button {
                    padding: 1rem;
                    font-size: 2rem;
                    font-weight: 600;
                }
            }
        }
    }
}