@use '../../assets/sass/base';

.NavBar {
    margin: 1rem 1rem 1rem 0;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        li {
            width: 100%;

            :hover {
                background-color: base.$gb-bg-0;
            }

            button {
                width: 100%;
                border: 0;
                padding: 2rem 4rem;
                font-size: 2rem;

            }
        }
    }
}