.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 1rem 0;
    padding: 1rem;
    width: 30rem;
}

.nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100%;
    padding: 0;
}

.nav ul li {
    list-style: none;
    cursor: pointer;
    padding: 1rem;
}
.nav a {
    display: inline-block;
}

.nav ul li a:hover{
    text-decoration: underline;
} 

.nav a span {
    color: var(--color-bright_red);

}