.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 2rem);
    padding: 1rem;
    margin: 1rem;
    background-color: var(--color-l-bg);
    border-radius: 1rem;
}

.container header {
    display: flex;
    justify-content: space-between;
}

.container main {
    display: flex;
    height: 100%;
}

.container footer {
    display: flex;
}
