@use './base';

/* ======================================================== */
/* 404 */
/* ======================================================== */

.PageNotFound {
  a {
    border: base.$gb-d-border-0 double .8rem;

    &:hover {
      background-color: #fafafa;
      color: #222;
      border: #222 double .8rem;
    }
  }
}

/* ======================================================== */
/* Game boy Dark theme*/
/* ======================================================== */
body {
  background-color: base.$gb-d-bg-1;
  border: base.$gb-d-border-0 solid .1rem;

  h1,
  h2,
  p,
  a,
  li,
  button {
    color: base.$gb-d-ft-0;
    font-family: 'JetBrains Mono', monospace;

  }

  nav,
  div.container {
    border: base.$gb-d-border-0 solid .2rem;
    border-radius: .12rem;
  }

  header {
    .SwitchMode {

      :hover {
        background-color: base.$gb-d-bg-hover;
        color: base.$gb-d-ft-hover;
      }
    }
  }

  main {
    background-color: base.$gb-d-bg-1;

    .NavBar {
      li {
        :hover {
          background-color: base.$gb-d-bg-hover;
          color: base.$gb-d-ft-hover;
        }

        button {
          background-color: base.$gb-d-bg-1;
        }

        button.focus {
          background-color: base.$gb-d-border-0;
        }
      }
    }

    .Portfolio {
      li.portfolio-item {
        border-top: .1rem solid base.$gb-d-border-0;

        &:hover {
          background-color: base.$gb-d-bg-hover;
          color: base.$gb-d-ft-hover;

          i,
          p {
            color: base.$gb-d-ft-hover;

          }

        }
      }
    }
  }



}

/* ======================================================== */
/* Game boy Light theme*/
/* ======================================================== */
body.gb-light {
  background-color: base.$gb-l-bg-1;
  border: base.$gb-l-border-0 solid .4rem;

  h1,
  h2,
  p,
  a,
  li,
  button {
    color: base.$gb-l-ft-0;
  }

  header .Logo.gb-light,
  header .TopBar.gb-light,
  header .SwitchMode.gb-light,
  main.gb-light .NavBar.gb-light,
  main.gb-light .Home,
  main.gb-light .Portfolio,
  main.gb-light .Infos,
  footer .LangSelect.gb-light,
  footer .BottomBar.gb-light {
    border: base.$gb-l-border-0 double .8rem;
  }

  header {

    .SwitchMode.gb-light {
      :hover {
        background-color: base.$gb-l-bg-hover;
        color: base.$gb-l-ft-hover;
      }
    }
  }

  main.gb-light {
    background-color: base.$gb-l-bg-1;
    max-height: 100%;

    .Home {
      background-origin: content-box;
      background: url("../images/wallpaper.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .NavBar.gb-light {
      li {
        :hover {
          background-color: base.$gb-l-bg-hover;
          color: base.$gb-l-ft-hover;
        }

        button {
          background-color: base.$gb-l-bg-1;
        }

        button.focus {
          background-color: base.$gb-l-border-0;
        }
      }
    }

    .Portfolio {
      li.portfolio-item {
        border-top: 1px solid base.$gb-l-border-0;

        &:hover {
          background-color: base.$gb-l-bg-hover;
          color: base.$gb-l-ft-hover;

          i,
          p {
            color: base.$gb-l-ft-hover;
          }
        }
      }
    }
  }


}


/* ======================================================== */
/* Gruvbox Light theme*/
/* ======================================================== */
body.gruvbox-light {
  border: rgba(255, 255, 255, 0.25) solid .4rem;
  background: url("../images/WallpaperDog-5447432.jpg");
  background-size: cover;


  h1,
  h2,
  p,
  a,
  li,
  button {
    color: #fafafa;
  }

  main.gruvbox-light {
    background: none;

    nav {
      border: none;

      ul {

        li {

          button {
            background: none;
          }
        }
      }
    }

    .Home,
    .Portfolio,
    .Infos {
      border: none;
    }
  }

  div.gruvbox-light,
  main.gruvbox-light nav,
  main.gruvbox-light .Home,
  main.gruvbox-light .Portfolio,
  main.gruvbox-light .Infos {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  main.gruvbox-light .Home {
    h2 {
      color: red;
    }
  }

  .SwitchMode.gruvbox-light p {
    &:hover {
      background: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      color: #222;
    }
  }

  main.gruvbox-light nav {
    button {
      &:hover {
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        color: #222;
      }
    }

    li:nth-child(1) button {
      &:hover {
        border-radius: 12px 0 0 12px;
      }
    }

    li:nth-child(3) button {
      &:hover {
        border-radius: 0 12px 12px 0;
      }
    }

  }

  main.gruvbox-light .Portfolio {
    ul.portfolio-container > li {
      border: 1px solid rgba(255, 255, 255, 0.125);

      &:hover {
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        color: #222;
      }
    }
  }


}

/* ======================================================== */
/* Gruvbox DARK theme*/
/* ======================================================== */
body.gruvbox-dark {
  background-color: base.$gruvbox-d-bg-1;
  border: base.$gruvbox-d-border-0 solid .1rem;

  h1,
  h2,
  p,
  a,
  li,
  button {
    color: base.$gruvbox-d-ft-0;
  }

  header {

    .Logo.gruvbox-dark,
    .TopBar.gruvbox-dark {
      border: base.$gruvbox-d-border-0 double .1rem;
    }

    .SwitchMode.gruvbox-dark {
      border: base.$gruvbox-d-border-0 double .1rem;

      :hover {
        background-color: base.$gruvbox-d-bg-hover;
        color: base.$gruvbox-d-ft-hover;
      }
    }
  }

  main.gruvbox-dark {
    background-color: base.$gruvbox-d-bg-1;

    .NavBar.gruvbox-dark {
      border: base.$gruvbox-d-border-0 double .1rem;

      li {
        :hover {
          background-color: base.$gruvbox-d-bg-hover;
          color: base.$gruvbox-d-ft-hover;
        }

        button {
          background-color: base.$gruvbox-d-bg-1;
        }

        button.focus {
          background-color: base.$gruvbox-d-border-0;
        }
      }
    }

    .Home,
    .Portfolio,
    .Infos {
      border: base.$gruvbox-d-border-0 double .1rem;
    }

    .Portfolio {
      li.portfolio-item {
        border-top: 1px solid base.$gruvbox-d-border-0;

        &:hover {
          background-color: base.$gruvbox-d-bg-hover;
          color: base.$gruvbox-d-ft-hover;

          i,
          p {
            color: base.$gruvbox-d-ft-hover;
          }
        }
      }
    }
  }

  footer {

    .LangSelect.gruvbox-dark,
    .BottomBar.gruvbox-dark {
      border: base.$gruvbox-d-border-0 double .1rem;
    }


  }
}